$mainbg: rgb(17, 17, 17);
$accent: rgb(66, 234, 254);
$accent-05: rgba(66, 234, 254, 0.5);
$white: rgb(245, 245, 245);
$maingradient: linear-gradient(
  90deg,
  rgba(3, 255, 240, 0.4) 0.28%,
  rgba(123, 101, 253, 0.4) 90.98%
);
$mainfont: 'Russo One', sans-serif;
$secfont: 'Jura', sans-serif;
