@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  background: $accent-dark;

  .Bg {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: $accent-dark;
    clip-path: circle(25px at 35px 35px);

    @include mobile {
      width: 70%;
    }
  }
}